body{
    background-color: var(--white);
    background-image: none;
}

.side-bar-nav{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    width: 6rem;
    background-color: var(--green);
    height: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 3rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    transition: .5s ease-out;
}

.side-pill-list{
    list-style: none;
}

.side-bar-nav a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10rem;
    justify-content: space-between;
}

.side-bar-nav span{
    opacity: 0;
    color: var(--lightBrown);
    
    
}

.pill-list-item{
    margin: 2rem 0;
    display: flex;
    
}

.fa-solid{
    color: var(--lightBrown);
    font-size: 2rem;

}


.fa-gear{
    margin-top: auto;
}

.side-bar-nav:hover{
    width: 12rem;
    transition: 0.5s ease-in-out;
}



.side-bar-nav:hover span{
    opacity: 1;
    transition: opacity 0.9s ease-in-out;
}

.pill-list-item:hover span,
.pill-list-item:hover .fa-solid{
    color: var(--yellow);
    transition: .2s ease-in-out;
}

/* Key Frames */
@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fade-out {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

/* Main styling */

main{
    margin-left: 6rem;
}

.navbar{
    background-color: #fff;
}

.sign-in-btn{
    width: 11.13rem; 
    height: 2.00rem; 
    border-radius: 0.50rem;  
    padding: 0.50rem;
    color: #fff;
    border: none;
    background-color: var(--green);
    transition: 0.2s ease-in;
}

.sign-in-btn:hover{
    cursor: pointer;
    background-color: #fab640;
}

.content{
    padding: 4rem 5rem;
    background-color: transparent;
}

.graphs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.revenue,.popular-foods{
    width: 33.06rem; 
    height: 19.31rem; 
    border-radius: 0.50rem; 
    border-width: 0.06rem; 
    padding-top: 1.50rem; 
    padding-bottom: 0.50rem; 
    padding-left: 0.50rem; 
    padding-right: 0.50rem;
    background-color: #fff;
    border: 1px solid var(--lightBrown);
}

.order-list{
    width: 100%; 
    height: 50rem; 
    border-radius: 0.50rem; 
    border-width: 0.06rem; 
    padding-top: 1.50rem; 
    padding-bottom: 0.50rem; 
    padding-left: 0.50rem; 
    padding-right: 0.50rem;
    background-color: #fff;
    border: 1px solid var(--lightBrown);

}

#sort{
    width: 8rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: var(--yellow);
    color: #fff;
    border: none;
    outline: none;
    padding: .2rem;
    margin: 2rem 0;  
}

.restaurant-list{
    display: flex;
    flex-direction: column;
}

.restaurant{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10rem;
    background-color: #3e3e3e;
    justify-content: space-evenly;
}

.restaurant-img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: black;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-restaurant{
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
    background-color: #3e3e3e;
    border: none;
    border-radius: 50%;
    margin-left: 5rem;
}


/* Menu */
.restaurant-select{
    width: 23rem;
    height: 6rem;
    font-size: 3rem;
    font-weight: 700;
    border: none;
    background-color: transparent;
    outline: none;
}

.search-box{
    background-color: #fff;
    width: 65rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem 0;
}

#search{
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    color: var(--lightBrown);
}

.fa-magnifying-glass{
    font-size: 1rem;
}

.menu-list{
    display: flex;
    flex-direction: column;
}

.item{
    display: flex;
    border-radius: .5rem;
    align-items: flex-start;
    width: 100%;
    height: 10rem;
    padding: 2rem;
    background-color: #fff;
    margin-top: 4rem;
    /* justify-content: space-between; */
}

.item-info{
    margin-right: 10rem;
}

.add-item{
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
    background-color: #3e3e3e;
    border: none;
    border-radius: 50%;
    margin-left: 5rem;
}

.item-name{
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.price{
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: 500;
}

