main, .navbar{
    padding: 1.188rem 3.188rem;
}


.navbar{
    justify-content: space-between;
}

.sign-in-btn, .register-btn{
    width: 4.5rem;
    height: 1.7rem;
    border-radius: .5rem;
}

.sign-in-btn{
    border: none;
    color: #fff;
    background-color: var(--yellow);
}

.register-btn{
    border: 1px solid var(--green);
    color: var(--green);
    background-color: var(--white);
}



.search-boxes{
    display: flex;
    color: var(--lightBrown);
    padding: 5rem 0;
}

.search-box-1, .search-box-2{
    display: flex;
    align-items: center;
    width: 34.38rem;
    height: 3.75rem;
    background-color: #fff;
    margin-right: 12rem;
    padding: 1.5rem;
    border-radius: 1.25rem;
}

.search-boxes input{
    flex: 1;
    border: none;
    outline: none;
}

.search-boxes i{
    margin-left: 1rem;
}

.filters{
    display: flex;
    margin-left: 3.188rem;
    /* margin-right: 3.188rem; */
}

.filter-btn{
    margin-right: 1rem;
    color: var(--yellow) ;
    border: 1px solid var(--yellow);
    background-color: transparent;
    width: 4.5rem;
    font-size: 0.88rem;
    padding: 0.50rem;
    border-radius: 0.50rem;
}

.active{
    color: #fff;
    background-color: var(--yellow);
}  


.dropbtn {
  background-color: var(--yellow);
  color: white;
  padding: 0.50rem;
  width: 6rem;
  font-size: .88rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 0.50rem;
}

.dropbtn:hover {
  background-color: #f5b23eb0;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 6rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--lightBrown);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.icon-filters{
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20rem;
}

.filter-icon img{
    width: 4rem;
}

.icon-text{
    text-align: center;
}

.inventory{
    padding: 0 7rem;
}

.restaurants-container{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
}


.restaurant{
    position: relative;
    width: 21rem;
    border-radius: .50rem;
    border: none;
    overflow: hidden;
    background-color: #fff;
    filter: drop-shadow(4px 10px 4px #00000031);
}

.discount{
    position: absolute;
    color: #fff;
    background: var(--green);
    border-radius: .2rem;
    padding: .2rem;
    left: 0;
    top: 7.5%;
    z-index: 2;
    font-size: 0.6rem;
}

.restaurant-thumbnail{
    position: relative;
    width: 100%;
    height: 15rem;
    overflow: hidden;
    border-radius: .1rem;
}

.restaurant-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s ease-in-out;
}

.restaurant:hover .restaurant-img{
    transform: scale(1.1);
}

.restaurant:hover .restaurant-img{
transform: scale(1.1);
}

.restaurant-body{
    margin: 1rem 1rem;
    position: relative;
    color: var(--lightBrown);
}

.restaurant-name{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1rem 0;

}
.menu{
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.88rem;
    font-weight: 500;
}

.place{
    font-weight: 400;
    font-size: 0.81rem;
    text-transform: capitalize;
    color: #757575;
}

.rating{
    position: absolute;
    right: 0;
    top: 0;
    padding: .4rem .6rem;
    color: var(--yellow);
    
    font-size: .9rem;
    font-size: .9rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}