:root{
    --yellow:#E5A73D;
    --brown:#41372F;
    --white:#F9FAEE;
    --lightBrown:#575048;
    --green:#796F3C;
    --supportingFont: Montserrat;
    --logoFont: Lobster;
}

*{
    box-sizing: border-box;
    font-family: var(--supportingFont);
    padding: 0;
    margin: 0;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 1.188rem 2.2rem;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

body{
    background-color: var(--white);
}


.logo-img{
    width: 3rem;
}



.logo-txt{
    font-family: var(--logoFont);
    color: var(--yellow);
    font-size: 1.8rem;
}

.nav-pill-list{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-pill-list a{
    text-decoration: none;
    color: var(--lightBrown);
    margin: 0 .5rem;
}

.nav-pill-list li{
    font-size: 1.1rem;
    margin: 0 0.5rem;
}

footer{
    margin-top: 10rem;
    background-color: var(--lightBrown);
    color: var(--white);
    padding: 2rem;
}

footer a{
    color: var(--white);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.fa-phone{
    margin-right: .5rem;
}




.footer-logo{
    margin-bottom: 1rem;
}

.box1-link{
    margin: 1rem 0;
}


.social-links{
    margin-right: 2rem;
}

.box2{
    display: flex;
    flex-direction: column;
}


.email2{
    display: none;
}

.email{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.email label{
    color: var(--yellow);
    font-weight: 500;
}

#email{
    height: 2rem;
    margin-top: .5rem;
    padding: 1rem;
}

.contact-support{
    margin-top: 2rem;
    width: 10rem;
    height: 1.8rem;
    background-color: var(--yellow);
    color: #fff;
    border-radius: .5rem;
    border: none;
}

@media screen and (min-width: 524px) {
    .links{
        display: flex;
        flex-wrap: wrap;
        column-gap: 3rem;
    }

    .box2{
        margin-top: 1rem;
    }
}

@media screen and (min-width:1024px) {

    .logo-img{
        width: 3.75rem;
    }
    
    .logo-txt{
        font-size: 2rem;
    }

    .links{
        justify-content: space-between;
    }

    
    
    .contact-support{
        width: 25rem;
    }
}

@media screen and (min-width:1200px) {
    .email{
        display: none;
    }

    .email2{
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
    }
}